@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Passion One', serif;
    font-size: 124px;
    font-variant: small-caps;
    padding: 50px;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: normal;
    font-size: 16px;
    padding-bottom: 50px;
}

a {
    font-family: Verdana, Geneva, Tahoma, 
    sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: 'Sriracha';
    font-size: 43px;
    font: 100;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: darkgrey;
    color: white;
}

section.image > p {
    width: 400px;
    background-color: #000D00;
}

/*.section_02 {
    background-image: url(imagens/background001.jpg);
    background-size: 100% 100%;
    color: white;
}

.section_04 {
    background-image: url(imagens/background002.jpg);
    background-size: 100% 100%;
    color: white;
}*/

footer {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px;
}

