@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    height: 250px;
    text-align: center;

    
}

header h1 {
    color: white;    
    font-family: 'Passion One', serif;
    font-size: 124px;
}

header p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: normal;
    font-size: 16px;
}

header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
}

section {
    margin: 20px;
    font-family: 'Sriracha';
    font-size: 43px;
    font: 100;
}

.section_02 {
    background-image: url(imagens/background001.jpg);
    background-size: 100% 100%;
    color: white;
}

.section_04 {
    background-image: url(imagens/background002.jpg);
    background-size: 100% 100%;
    color: white;
}

footer {
    background-color: #000000;
    text-align: center;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

